.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 18.75%;
    float: left;
    padding: -20px;
}  
.float-child-1 {
    width: 25%;
    float: left;
    padding: -20px;
}  